<div class="h-full w-full">
  <ul role="list" class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
    <% if logged_in? %>
    <li class="relative">
      <%= link_to new_novel_path, class: "group aspect-w-10 aspect-h-7 block w-full overflow-hidden rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100" do %>
        <%= render "components/dash_border_card" %>
      <% end %>
    </li>
    <% end %>
    
    <% @novels.each do |novel| %>
    <li class="relative">
      <div class="group aspect-w-16 aspect-h-9 block w-full overflow-hidden rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
        <%= image_tag novel.cover, class: "object-cover object-center" if novel.cover.attached? %>
        <%= link_to "", novel_path(novel.id), class: "absolute inset-0 focus:outline-none cursor-point" %>
      </div>
      <p class="pointer-events-none mt-2 block truncate text-sm font-medium text-gray-900">
        <%= novel.name %>
      </p>
      <p class="pointer-events-none block text-sm font-medium text-gray-500">Author's name</p>
    </li>
    <% end %>
  </ul>
</div>
